@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">
    @*<select asp-for="selectedFilter" asp-items="Model.Options" onchange="this.form.submit();"></select>*@
    <fieldset>
        <legend>Network Parameters</legend>
        <div>
            <label for="LayerSizes">Layer Sizes:</label>
            <input type="text" name="LayerSizes" value="@((Model.InvalidParams ?? string.Join(",", Model.NNParams.Select(p=>p.ToString()))))" />
        </div>
    </fieldset>
</form>

<pre class="mermaid">@Model.DiagramContent</pre>
<div style="white-space: pre-line">@Model.DiagramContent</div>


<script src="https://unpkg.com/mermaid@8.14.0/dist/mermaid.min.js"></script>

