@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">
    @*<select asp-for="selectedFilter" asp-items="Model.Options" onchange="this.form.submit();"></select>*@
    <fieldset>
        <legend>Network Parameters</legend>
        <div>
            <label for="LayerSizes">Layer Sizes:</label>
            <input type="text" name="LayerSizes" value="@((Model.InvalidParams ?? string.Join(",", Model.NNParams.Select(p=>p.ToString()))))" />
        </div>
    </fieldset>
</form>

<div class="container">
    <div class="row">
        <div class="col-md">
            <pre class="mermaid">@Model.DiagramContent</pre>
        </div>
        <div class="col-md">
            <div>@Html.Raw(Model.DiagramContent.Replace("\n", "<br>\n").Replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;"))</div>
        </div>
    </div>
</div>



<script src="https://unpkg.com/mermaid@8.14.0/dist/mermaid.min.js"></script>

